---
import Layout from "../components/Layout.astro";
import Github from "../logos/Github.astro";
import LinkedIn from "../logos/LinkedIn.astro";
import Mail from "../logos/Mail.astro";
import LanguageToggle from "../components/LanguageToggle.astro";
import { translate } from "../i18n";
import ExperienceCard from "../components/ExperienceCard.astro";

const keys = {
    en: {
        cpi: {
            label: "CEP",
            description: "Candidate to the Engineering Profession",
            link: "https://www.oiq.qc.ca/en/futurs-membres/devenir-ingenieur-au-quebec/professional-admission-program/",
        },
        developer: "Full stack developer",
        summary:
            "I use computers to solve fun and interesting problems in a creative manner.",
        sections: {
            about: "About",
            experience: "Experience",
            projects: "Projects",
        },
    },
    fr: {
        cpi: {
            label: "CPI",
            description: "Candidat à la profession d'ingénieur",
            link: "https://www.oiq.qc.ca/futurs-membres/devenir-ingenieur-au-quebec/programme-dacces-a-la-profession/",
        },
        developer: "Développeur full stack",
        summary:
            "Je résous des problèmes intéressants et stimulants avec des ordinateurs.",
        sections: {
            about: "À propos",
            experience: "Expérience",
            projects: "Projets",
        },
    },
};

const t = translate(keys, Astro.currentLocale);
---

<Layout>
    <aside>
        <hgroup>
            <h1>
                <span>Julien Rousseau,</span>
                <span>
                    <a href={t("cpi.link")} title={t("cpi.description")}>
                        {t("cpi.label")}
                    </a>
                </span>
            </h1>
            <p class="title">{t("developer")}</p>
            <p class="summary">{t("summary")}</p>
        </hgroup>

        <nav>
            <a href="#about">{t("sections.about")}</a>
            <a href="#experience">{t("sections.experience")}</a>
            <a href="#projects">{t("sections.projects")}</a>
        </nav>

        <ul>
            <li>
                <a href="https://github.com/julienR1/">
                    <Github />
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/julien-rousseau-cpi-402475179/"
                >
                    <LinkedIn />
                </a>
                <li>
                    <a href="mailto:julienrous16@gmail.com">
                        <Mail />
                    </a>
                </li>
                <li>
                    <LanguageToggle />
                </li>
            </li>
        </ul>
    </aside>

    <main>
        <section id="about">
            <h2>{t("sections.about")}</h2>
        </section>

        <section id="experience">
            <h2>{t("sections.experience")}</h2>

            <ul>
                <ExperienceCard
                    start="May 2024"
                    end="Dec. 2024"
                    title="Software developer"
                    company="Agilean"
                    url="https://alix.ai"
                    subtitle="Co-op"
                    tags={[
                        "JavaScript",
                        "TypeScript",
                        "React",
                        "Node.js",
                        "PostgreSQL",
                    ]}
                >
                    Développement d'Alix - un logiciel de gestion et de suivi
                    pour PME. Développement d'outils internes pour mieux
                    supporter les utilisateurs. Amélioration des performances
                    des processus récurrents au sein du projet.
                </ExperienceCard>
            </ul>
        </section>

        <section id="projects">
            <h2>{t("sections.projects")}</h2>
        </section>
    </main>

    <style lang="scss">
        aside {
            padding-bottom: 8em;

            hgroup {
                margin: 0.5em 0;

                h1,
                p {
                    margin: 0;
                    padding: 0.2em 0;
                }

                h1 {
                    font-weight: 700;
                    font-size: 1.7em;
                }

                p.title {
                    font-weight: 500;
                    font-size: 1.2em;
                }

                p.summary {
                    font-weight: 300;
                    padding-top: 1em;
                }

                a {
                    color: inherit;
                    font-size: 0.8em;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

            nav {
                display: none;
            }

            ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                gap: 0.5em;
                margin: 0;
                padding: 0;
                padding-top: 0.5em;

                li,
                a {
                    display: block;
                    width: 1.75em;
                    height: 1.75em;
                    color: black;
                }

                li:last-of-type {
                    display: none;
                }
            }
        }

        section {
            h2 {
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 700;
                padding: 1em 0;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
        }

        @media (min-width: 50rem) {
            body {
                display: grid;
                grid-template-columns: 22.5rem minmax(auto, 37.5rem);
                justify-content: space-around;
                max-width: 100rem;
                margin: 0 auto;
                gap: 2rem;
            }

            aside,
            main {
                padding: 3em 0;
            }

            aside {
                top: 3em;
                position: sticky;
                display: grid;
                grid-template-rows: 30% auto min-content;
                max-height: 90vh;

                nav {
                    display: block;

                    a {
                        display: block;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: black;
                        padding: 1em 0;
                        font-weight: 600;
                        opacity: 0.5;
                        transition: all ease 100ms;

                        &:hover,
                        &:focus,
                        &:focus-within {
                            opacity: 1;
                            transform: translateX(1em);
                        }
                    }
                }

                ul li:last-of-type {
                    display: block;
                }
            }

            main {
            }
        }

        @media (min-width: 56rem) {
            body {
                gap: 5rem;
            }
        }
    </style>
</Layout>
