---
import { translate } from "../i18n";
import Layout from "../components/Layout.astro";
import Aside from "../components/Aside.astro";
import ExperienceCard from "../components/ExperienceCard.astro";

const keys = {
    en: {
        sections: {
            about: "About",
            experience: "Experience",
            projects: "Projects",
        },
    },
    fr: {
        sections: {
            about: "À propos",
            experience: "Expérience",
            projects: "Projets",
        },
    },
};

const t = translate(keys, Astro.currentLocale);
---

<Layout>
    <Aside />

    <main>
        <section id="about">
            <h2>{t("sections.about")}</h2>
        </section>

        <section id="experience">
            <h2>{t("sections.experience")}</h2>

            <ul>
                <ExperienceCard
                    start="May 2024"
                    end="Dec. 2024"
                    title="Software developer"
                    company="Agilean"
                    url="https://alix.ai"
                    subtitle="Co-op"
                    tags={[
                        "JavaScript",
                        "TypeScript",
                        "React",
                        "Node.js",
                        "PostgreSQL",
                    ]}
                >
                    Développement d'Alix - un logiciel de gestion et de suivi
                    pour PME. Développement d'outils internes pour mieux
                    supporter les utilisateurs. Amélioration des performances
                    des processus récurrents au sein du projet.
                </ExperienceCard>
            </ul>
        </section>

        <section id="projects">
            <h2>{t("sections.projects")}</h2>
        </section>
    </main>
</Layout>

<style lang="scss">
    section {
        h2 {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 700;
            padding: 1em 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }

    @media (min-width: 50rem) {
        body {
            display: grid;
            grid-template-columns: 22.5rem minmax(auto, 37.5rem);
            justify-content: space-around;
            max-width: 100rem;
            margin: 0 auto;
            gap: 2rem;
        }

        main {
            padding: 3em 0;
        }
    }

    @media (min-width: 56rem) {
        body {
            gap: 5rem;
        }
    }
</style>
